$highlight-map: (
	hsl(0, 0%, 75%),
	hsl(0, 0%, 50%),
	hsl(0, 0%, 20%),
	hsla(109, 70%, 45%),
	hsla(295, 70%, 45%),
	hsla(22, 70%, 45%),
	hsla(2, 70%, 45%),
	hsla(60, 70%, 45%),
	hsla(210, 70%, 45%),
);

// "#ec6688",
// "#f6ab76",
// "#fde967",
// "#d3f284",
// "#7dcb88",
// "#81e1f7",
// "#8197e4",
// "#b569cc",
// "#f376ed",

// "#d1d1d1",
// "#a0a0a0",
// "#606060",
// "#e900a7",
// "#ff9207",
// "#a1e301",
// "#00ced3",
// "#3793fc",
// "#9840ff",

// "#da64dd",
// "#41dd95",
// "#2778de",
// "#de4246",
// "#81a2d7",
// "#ddc573",
// "#865ecc",
// "#93d53a",
// "#cfbd94"

@mixin breakpoint-mobile {
    @media (max-width: 800px) and (max-aspect-ratio: 5/4),
        (max-width: 600px)
    {
        @content;
    }
}

$grid-lines-width: 0.01;
$region-lines-width: 0.06;
$grid-border-width: 0.06;

$header-height: 2.5rem;
$footer-height: 0rem; //1.5rem;
$content-margin: 1.5rem;

$board-size-big: min(calc(70vw - 20em), calc(100vh - #{$header-height + $footer-height}));
$board-size-small: min(calc(100vw - #{2 * $content-margin}), 60vh);


